<%- include ("partials/header") %>


      <% if (weather && forecast) { %>
        <div id="weather" class="card shadow-lg mb-4 p-4 ">
         
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h2 id="city" class="mb-1"><%= weather.coord %></h2>
              </div>
              <div>
                <h2 id="city" class="mb-1"><%= weather.city %>, <%= weather.country %></h2>
                <p id="date" class="text-muted"><%= weather.date %></p>
              </div>
              <img id="icon" src="<%= weather.icon %>" alt="icon" style="width: 60px;" />
            </div>
            <h3 id="temperature" class="display-4 my-3"><%= weather.temperature %>°C</h3>
            <p id="description" class="text-mute"><%= weather.description %></p>
           
        </div>
        
        <% for( var i = 0; i < 10; i++ ) { %>
          <div id="forecast" class="row g-4 ">
            <div class="row-sm-4 row-md-3 row-lg-1 " >
              <div class="card h-100 text-center p-3 hover:shadow-lg mb-4">
                <h5><%= forecast.date[i] %></h5>
                <img src="<%= forecast.icon[i] %>" id="cardimage"  alt="icon" class="mx-auto" style="width: 60px;" />
                <h4><%= forecast.temperature[i] %>°C</h4>
                <p class="text-mute"><%= forecast.description[i] %></p>
              </div>

            </div>
          </div>
        <% } %>  
          
      <% } %>
      <% if (error) { %>
          <p class="error"><%= error %></p>
      <% } %>
      
  </div>
<footer class="fixed-bottom">
  <p>&copy; Copyright Legendary Softwares INC 2025</p>
</footer>
  <script>
    function toggleDarkMode() {
      document.body.classList.toggle("dark-mode");
      // document.nav.classList.toggle("bg-dark");
      document.querySelectorAll('.card').forEach(c => c.classList.toggle('dark-mode'));
    }
   
    
  </script>
<%- include ("partials/footer") %>